<header class="site-header container">
  <div class="nav-header">
    <a href="/" class="brand"><img src="/img/rotateskull.gif" alt="Rotating skulls and crossbones are awesome"><span>{{ site.title-header }}</span></a>
  </div>

  <nav class="pure-menu pure-menu-horizontal">
    <ul class="pure-menu-list">
    {% for my_page in site.pages %}
    {% if my_page.menu-title %}
      <li class="pure-menu-item"><a class="pure-menu-link" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.menu-title }}</a></li>
    {% elsif my_page.title %}
      <li class="pure-menu-item"><a class="pure-menu-link" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a></li>
    {% endif %}
    {% endfor %}
    </ul>
  </nav>
</header>
