<header class="site-header container">
  <div class="nav-header">
    <a href="/" class="brand"><img src="/img/rotateskull.gif" alt="Rotating skulls and crossbones are awesome"><span>{{ site.title-header }}</span></a>
  </div>

  <nav class="pure-menu pure-menu-horizontal">
    <ul class="pure-menu-list">
    {% assign pages = site.pages | sort:"weight" %}
    {% for page in pages %}
      {% if page.hide-nav != true %}
        {% if page.menu-title %}
          <li class="pure-menu-item"><a class="pure-menu-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.menu-title }}</a></li>
        {% elsif page.title %}
          <li class="pure-menu-item"><a class="pure-menu-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></li>
        {% endif %}
      {% endif %}
    {% endfor %}
    </ul>
  </nav>
</header>
