<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
<script type="text/javascript" src="/node_modules/barba.js/dist/barba.min.js"></script>
<script type="text/javascript">
  $(document).ready(function() {
    var barbaEnabled = false;
    if(barbaEnabled) {
      Barba.Pjax.start();
      Barba.Prefetch.init();

      //Scroll to top of page after barba loads the new content.
      Barba.Dispatcher.on('newPageReady', function() {
        window.scrollTo(0, 0);
      });
    }

    // log barba events
    var barbaDebug = false;
    if(barbaDebug) {
      Barba.Dispatcher.on('linkClicked', function(HTMLElement, MouseEvent) {
        console.log('Event: linkClicked');

        console.log('HTMLElement:');
        console.log(HTMLElement);
        console.log('MouseEvent:');
        console.log(MouseEvent);
      });

      Barba.Dispatcher.on('initStateChange', function(currentStatus) {
        console.log('Event: initStateChange');

        console.log('currentStatus:');
        console.log(currentStatus);
      });

      Barba.Dispatcher.on('newPageReady', function(currentStatus, prevStatus, HTMLElementContainer, newPageRawHTML) {
        console.log('Event: newPageReady');

        console.log('currentStatus:');
        console.log(currentStatus);
        console.log('prevStatus:');
        console.log(prevStatus);
        console.log('HTMLElementContainer:');
        console.log(HTMLElementContainer);
        console.log('newPageRawHTML:');
        console.log(newPageRawHTML);

      });

      Barba.Dispatcher.on('transitionCompleted', function(currentStatus, prevStatus) {
        console.log('Event: transitionCompleted');

        console.log('currentStatus:');
        console.log(currentStatus);
        console.log('prevStatus:');
        console.log(prevStatus);
      });
    }
  });
</script>
<script type="text/javascript" src="/js/book.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/featherlight/1.4.1/featherlight.min.js"></script>
<!-- FBPixel -->
<script>
!function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
document,'script','https://connect.facebook.net/en_US/fbevents.js');
fbq('init', '208916769507093');
fbq('track', "PageView");</script>
<noscript><img height="1" width="1" style="display:none"
src="https://www.facebook.com/tr?id=208916769507093&ev=PageView&noscript=1"
/></noscript>
<!-- End FBPixel -->
