//Contact
.contact .pure-form {
  label {
    display: block;
  }
  input, textarea {
    background: rgba(0, 200, 0, .1);
    border: 1px solid #030;
    box-shadow: none;
    box-sizing: 0;
    color: $green2;
    border-radius: 0;
  }
}
