@font-face {
    font-family: 'audimat_monoregular';
    src: url("/assets/fonts/audimat-mono-webfont/audimrg_-webfont.eot");
    src: url("/assets/fonts/audimat-mono-webfont/audimrg_-webfont.eot?#iefix") format('embedded-opentype'),
         url("/assets/fonts/audimat-mono-webfont/audimrg_-webfont.woff2") format('woff2'),
         url("/assets/fonts/audimat-mono-webfont/audimrg_-webfont.woff") format('woff'),
         url("/assets/fonts/audimat-mono-webfont/audimrg_-webfont.ttf") format('truetype'),
         url("/assets/fonts/audimat-mono-webfont/audimrg_-webfont.svg#audimat_monoregular") format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'audimat_monolight';
    src: url("/assets/fonts/audimat-mono-webfont/audiml__-webfont.eot");
    src: url("/assets/fonts/audimat-mono-webfont/audiml__-webfont.eot?#iefix") format('embedded-opentype'),
         url("/assets/fonts/audimat-mono-webfont/audiml__-webfont.woff2") format('woff2'),
         url("/assets/fonts/audimat-mono-webfont/audiml__-webfont.woff") format('woff'),
         url("/assets/fonts/audimat-mono-webfont/audiml__-webfont.ttf") format('truetype'),
         url("/assets/fonts/audimat-mono-webfont/audiml__-webfont.svg#audimat_monolight") format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'audimat_monobold';
    src: url("/assets/fonts/audimat-mono-webfont/audimb__-webfont.eot");
    src: url("/assets/fonts/audimat-mono-webfont/audimb__-webfont.eot?#iefix") format('embedded-opentype'),
         url("/assets/fonts/audimat-mono-webfont/audimb__-webfont.woff2") format('woff2'),
         url("/assets/fonts/audimat-mono-webfont/audimb__-webfont.woff") format('woff'),
         url("/assets/fonts/audimat-mono-webfont/audimb__-webfont.ttf") format('truetype'),
         url("/assets/fonts/audimat-mono-webfont/audimb__-webfont.svg#audimat_monobold") format('svg');
    font-weight: normal;
    font-style: normal;
}
