header.site-header {
  .nav-header {
    img {
      vertical-align: middle;
      margin-right: $default-padding;
    }
  }

  a.brand {
    font-family: $header-font;
    font-size: $font-size-xl;
    color: $header-text-color;
    letter-spacing: 2px;
    text-decoration: none;
    text-transform: uppercase;
  }
  a {
    color: $green2;
    font-size: $font-size-sm;
  }
  a:hover {
    background: none;
    color: $green1;
  }

  nav {
    font-size: $font-size-lg;
    ul {
      display: flex;
      flex-direction: horizontal;
      flex-wrap: wrap;
      list-style: none;
      justify-content: flex-end;
      margin: 0;
      li {
        margin: 0px 10px;
        a {
          text-decoration: none;
          vertical-align: middle;
        }
      }
    }
  }
}
@media(max-width: 767px) {
  header.site-header {
    .nav-header {
      text-align: center;
      margin-bottom: $default-padding;
      img {
        display: block;
        text-align: center;
        margin: 0 auto;
      }
    }
    nav {
      ul {
        display: block;
        text-align: center;
      }
    }
  }
}
