header.site-header {
  .nav-header {
    float: left;
    img {
      vertical-align: middle;
      margin-right: $default-padding;
    }
  }
  .pure-menu {
    text-align: right;
  }

  a.brand {
    font-family: $header-font;
    font-size: $font-size-xl;
    color: $header-text-color;
    letter-spacing: 2px;
    text-decoration: none;
    text-transform: uppercase;
    span {
      //text-shadow: 0px 0px 3px #CFC;
    }
  }
  a {
    color: $green2;
    font-size: $font-size-sm;
  }
  a:hover {
    background: none;
    color: $green1;
  }
}
