a.cta-link {
  text-decoration: none;
  display: block;
  width: 100%;
  * {
    color: $green4;
  }
}
a.cta-link:hover {
}

.cta {
  text-align: center;
  padding: 1em;

  svg {
    fill: $green1;
    width: 100%;
    height: 2em;
  }

  h2 a {
  }
}

#icons {
  padding: 3em 0;
}
