body {
  background-image: url("/img/bg/1920x1400.jpg"); // Todo: Responsive sizes
  background-color: #000;
  color: $green4;
  font-family: "Lekton", serif;
}

.jumbotron {
  background-color: rgba(0, 200, 0, .1);
  border-width: 0;
  border-color: #040;
  border-style: solid;
  border-top-width: 1px;
  border-bottom-width: 1px;

  border-radius: 0;
}

a, a:hover {
  color: $green1;
}

.btn-primary, .btn-primary:hover {
  background-color: #0C0;
  color: #000;
  border: none;
  border-radius: 0;
}

//Background on selected text
::selection {
  background: $green1; /* WebKit/Blink Browsers */
  color: #000;
}
::-moz-selection {
  background: $green1; /* Gecko Browsers */
  color: #000;
}
