body {
  background-image: url("/img/bg/1920x1400.jpg"); // Todo: Responsive sizes
  font-family: $font1;
}

h1, h2, h3, h4, h5, h6 {
  text-transform: uppercase;
  color: $green1;
  font-family: $font2;
}

.jumbotron {
  border-width: 0;
  border-color: darken($green1, 35);
  border-style: solid;
  border-top-width: 1px;
  border-bottom-width: 1px;

  border-radius: 0;
}

.btn-primary, .btn-primary:hover {
  background-color: $green3;
  color: $black;
  border: none;
  border-radius: 0;
}

//Background on selected text
::selection {
  background: $green1; /* WebKit/Blink Browsers */
  color: $black;
}
::-moz-selection {
  background: $green1; /* Gecko Browsers */
  color: $black;
}


.placeholder-icon {
  width: 100px;
}

svg {
  path, rect, circle {
    fill: rgba($green1, .7);
  }
}


.article-list {
  .icon {
    width: 50px;
  }
  .media svg {
    width: 100%;
  }
}

#page-home .cta-link {
  text-align: center;
  svg {
    max-width: 50px;
    margin: 0 auto;
  }
}
