//Text colors
$green1: #0F0;
$green2: #07C102;
$green3: #0C0;
$green4: #a0fba0;

//Headers
$header-font: 'audimat_monolight';
$header-font-weight: 100;

//Standard body text
$standard-text-font: 'Lekton', serif;
