.book.ad-right {
  text-align: left;
  .book-info {
    margin-top: $default-padding;
    padding: 0;
  }
  a {
    width: 100%;
  }
}

.banner-container {
  padding-left: 20px;
}

.sx_ad_container {
  margin-top: $default-padding;
  img {
    margin: 0 auto;
  }
}
