---
layout: category
title: Learn how to Hack
summary: Learning how to become an elite hacker/cracker can be a lot of work. But if you read these tutorials and learn to use the tools provided here, you can learn how to hack into just about any server in months. Even ones with firewalls.
weight: 1
type: article-list
---
{% assign items = site.pages | where: 'category', 'learn' | sort:"category-weight" %}
{% for item in items %}
<article class="mb-5">
  <div class="media">
    <div class="mr-3">{% include placeholder-icon.html %}</div>
    <div class="media-body">
    <h2 class="mt-0"><a href="{{ item.url }}" title="{{ item.category-title }}">{{ item.category-title }}</a></h2>
      <p>{{ item.summary }}</p>
      <p><a class="btn btn-primary" title="Browse {{ item.title }}" href="{{ item.url }}">Browse {{ item.title }} <i class="fa fa-caret-right"></i></a></p>
    </div>
  </div>
</article>
{% endfor %}
