{% include steal.html %}
<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    {% include google_tag_manager_2.html %}
    {% include ga.html %}
    {% include header.html %}
    <div id="barba-wrapper">
        <div class="barba-container">
          <article id="{{ page.layout }}-{{ page.slug }}" class="{{ page.layout }}">
            <header>
              <div class="container">
                <h1>{{ page.title }}</h1>
                {{ page.summary }}
              </div>
            </header>
            <div class="page-content">
              <div class="container">
                {{ content }}
              </div>
            </div>
          </article>
        </div>
    </div>
    {% include footer.html %}
    {% include scripts.html %}
  </body>
</html>
